<section>
  <div
    class="2xl:max-w-7xl max-w-6xl md:px-12 mx-auto px-8 pt-32 space-y-24 text-black"
  >
    <div>
      <h1 class="text-4xl font-semibold uppercase font-serif">Overview</h1>
      <ol class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mt-16">
        <li>
          <p class="text-2xl font-bold uppercase font-serif">Main pages</p>
          <ol class="flex flex-col gap-3 mt-4 text-sm">
            <li><a href="/" class="hover:text-salmon-600">Home</a></li>
            <li>
              <a href="/pricing/pricing-one" class="hover:text-salmon-600"
                >Pricing</a
              >
            </li>
          </ol>
        </li>
        <li>
          <p class="text-2xl font-bold uppercase font-serif">Forms</p>
          <ol class="flex flex-col gap-3 mt-4 text-sm">
            <li>
              <a href="/forms/contact" class="hover:text-salmon-600">Contact</a>
            </li>
            <li>
              <a href="/forms/signin" class="hover:text-salmon-600">Signin</a>
            </li>
            <li>
              <a href="/forms/signup" class="hover:text-salmon-600">Signup</a>
            </li>
            <li>
              <a href="/forms/password-reset" class="hover:text-salmon-600"
                >Password Reset</a
              >
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div>
      <h1 class="text-4xl font-semibold uppercase font-serif">
        Content collections
      </h1>
      <ol class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mt-16">
        <li>
          <p class="text-2xl font-bold uppercase font-serif">Authors</p>
          <ol class="flex flex-col gap-3 mt-4 text-sm">
            <li>
              <a href="/authors/home" class="hover:text-salmon-600"
                >Authors home</a
              >
            </li>
            <li>
              <a href="/authors/1" class="hover:text-salmon-600"
                >Author details</a
              >
            </li>
          </ol>
        </li>
        <li>
          <p class="text-2xl font-bold uppercase font-serif">Blog pages</p>
          <ol class="flex flex-col gap-3 mt-4 text-sm">
            <li><a href="/" class="hover:text-salmon-600">Blog</a></li>
            <li>
              <a href="/blog/blog-two" class="hover:text-salmon-600">Blog two</a
              >
            </li>
            <li>
              <a href="/posts/1" class="hover:text-salmon-600">Blog post</a>
            </li>
            <li><a href="/tags" class="hover:text-salmon-600">Tag Index</a></li>
            <li>
              <a href="/tags/HTML" class="hover:text-salmon-600">Tag Category</a
              >
            </li>
            <li><a href="/rss.xml" class="hover:text-salmon-600">RSS</a></li>
            <li>
              <a href="/blog/archive" class="hover:text-salmon-600">Archive</a>
            </li>
          </ol>
        </li>
        <li>
          <p class="text-2xl font-bold uppercase font-serif">Utility pages</p>
          <ol class="flex flex-col gap-3 mt-4 text-sm">
            <li>
              <a href="/infopages/terms" class="hover:text-salmon-600"
                >Terms of use</a
              >
            </li>
            <li>
              <a href="/infopages/privacy" class="hover:text-salmon-600"
                >Privacy policy</a
              >
            </li>
            <li>
              <a href="/infopages/cookies" class="hover:text-salmon-600"
                >Cookies</a
              >
            </li>
            <li>
              <a href="/infopages/dpa" class="hover:text-salmon-600">DPA</a>
            </li>
            <li><a href="/404" class="hover:text-salmon-600">404</a></li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</section>
